body { background: #c7d24a; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 14px; display: flex; }
.block-email-0 { color: #750701; font-size: 20px; margin-bottom: 5px; }
.block-shipping-1 { color: #f6252f; font-size: 16px; margin-bottom: 5px; }
.block-session-2 { color: #c1f6e8; font-size: 15px; margin-bottom: 5px; }
.block-notify-3 { color: #e1b64b; font-size: 17px; margin-bottom: 5px; }
.block-search-4 { color: #54edac; font-size: 20px; margin-bottom: 5px; }
.block-uploader-5 { color: #15406; font-size: 15px; margin-bottom: 5px; }
.block-search-6 { color: #f0eb6f; font-size: 16px; margin-bottom: 5px; }